.container {
  border-radius: 6px;
  padding: var(--vtmn-spacing_1) var(--vtmn-spacing_0) var(--vtmn-spacing_1) var(--vtmn-spacing_0);
  text-align: center;
  width: 4rem;
  color: #FFFFFF;
  font-size: var(--vtmn-typo_caption-1-font-size);
  font-weight: bold;
}

.background__fire {
  background-color: #EE8130;
}

.background__water {
  background-color: #6390F0;
}

.background__electric {
  background-color: #F7D02C;
}

.background__grass {
  background-color: #006600;
}

.background__ice {
  background-color: #96D9D6;
}

.background__fighting {
  background-color: #C22E28;
}

.background__poison {
  background-color: #A33EA1;
}

.background__ground {
  background-color: #E2BF65;
}

.background__flying {
  background-color: #A98FF3;
}

.background__psychic {
  background-color: #F95587;
}

.background__bug {
  background-color: #A6B91A;
}

.background__rock {
  background-color: #B6A136;
}

.background__ghost {
  background-color: #735797;
}

.background__dragon {
  background-color: #6F35FC;
}

.background__dark {
  background-color: #705746;
}

.background__steel {
  background-color: #B7B7CE;
}

.background__fairy {
  background-color: #D685AD;
}

.background__normal {
  background-color: #A8A77A;
}

